<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            font-size: 50px;
            color: red;
        }
        p {
            font-size: 20px;
        }
        a {
            text-decoration: none;
            color: blue;
        }
        h3 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Services are currently unavailable</h1>
    <h3>it will resume at Morning 8:00 AM.</h3>
    <p><a href="/">Go back to Home</a></p>
</body>
</html>
