{% extends "website/website-base.html" %}

{% block title %}
<title>
    Scan2Food
</title>
{% endblock %}

{% block content %}


<div class="container-xxl bg-white p-0">
    <div class="container">
        <!-- Terms and Conditions Section -->
        <section id="terms-conditions">
            <h2 class="section-heading">Terms and Conditions</h2>
            <p>These Terms and Conditions govern your use of the Scan2Food platform and our services.</p>
            <ul>
                <li><span class="sub-section-heading">Service Agreement:</span> By subscribing to Scan2Food, theatres
                    agree to use our software platform for food ordering and management within their premises. Our
                    platform allows patrons to order food from their seats and manage the delivery process via theatre
                    staff.</li>
                <li><span class="sub-section-heading">Annual Subscription:</span> Theatres are billed annually for using
                    the Scan2Food platform. All payments must be made within the time frame specified in the service
                    agreement.</li>
                <li><span class="sub-section-heading">Platform Access and Use:</span> The Scan2Food platform is provided
                    as a service to theatres, and it is the theatre's responsibility to ensure that the system is used
                    in accordance with local regulations, including health and safety standards for food service.</li>
                <li><span class="sub-section-heading">Order Processing:</span> While Scan2Food facilitates the
                    order-taking process, the theatre and its vendors are responsible for preparing and delivering the
                    food. Scan2Food is not liable for any errors, delays, or issues related to the quality or delivery
                    of food items.</li>
                <li><span class="sub-section-heading">Modifications and Customizations:</span> Any additional features
                    or customizations requested by the theatre may incur extra charges, which will be discussed and
                    agreed upon in writing.</li>
                <li><span class="sub-section-heading">Termination of Service:</span> Either party may terminate the
                    service agreement with a written notice. Termination prior to the end of the annual subscription
                    period will not result in a refund of fees.</li>
            </ul>
        </section>

    </div>

</div>
{% endblock %}