        <!-- new category-section -->
        <div class="container-xxl pb-4 pt-3 d-none">
            <div class="container category-wrapper-outer">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 text-center">
                        <h5 class="section-title ff-secondary text-center text-primary fw-normal mt-2 mb-2">Select
                            Category</h5>
                    </div>
                </div>
                <div class="row align-items-center category-wrapper mt-2 g-3">
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/popcorn.webp' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Popcorn</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/PopcornCombo.jpg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Combos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/soft-drinks.png' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Soft Drinks</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/coffee.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Hot Beverages</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/french-fries.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">French Fries</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/burger-hd.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Burgers</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/pizzaa.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Pizza</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/sandwichh.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Sandwich</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/maggi.jpg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Maggie</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/fast-food.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Fast Food</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/shakes.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Shakes</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2">
                        <a href="#" class="category-card-link">
                            <div class="category-card bg-dark shadow-lg">
                                <div class="category-img-wrapper">
                                    <img class="w-100 category-img"
                                    
                                    src="{% static 'assets/images/patty-puff.jpeg' %}" alt="">
                                    
                                </div>
                                <div class="category-name text-uppercase text-white p-2">
                                    <p class="mb-0">Samosa & Puff</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- category-section end -->
        <!-- menu-section -->
        <div class="container-xxl pb-5 pt-2 d-none">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal mt-4">Our Menu</h5>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-4"
                        id="food-category-list">
                        <!-- all catogaries visible here -->
                    </ul>
                    <!-- all catogaries visible here -->
                    <div class="tab-content" id="food-item-content">
                        <!-- all food items visible here -->
                    </div>
                </div>
                <div class="text-end float-end pb-3">
                    <button class="btn btn-primary"><i class="fas fa-arrow-left me-2"></i> Go back</button>
                </div>
            </div>
        </div>