{% extends "theatre/base.html" %}

{% load static %}
{% block title %}


{% endblock %}

{% block content %}

<!-- refund items modal starts -->

<div class="modal fade" id="refund-items" tabindex="-1" role="dialog" aria-labelledby="refund-itemsTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="partialModalLabel">Partial Refund</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">
                <div class="card-title">
                    Select The Items Which You Want to Refund
                </div>

                <ul class="list-group" id="refunded-item-list">

                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="partial-refund-btn-otp-popup">Get Refund</button>
            </div>
        </div>
    </div>
</div>

<!-- refudn items modal ends -->

<!-- refund order -->
<div class="modal fade" id="refund-order" tabindex="-1" role="dialog" aria-labelledby="refund-orderTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Refund Amount</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form action="" id="refudn-form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="card-title">
                        An OTP is send to your Theatre's registered phone number. Please enter the OTP to proceed with
                        the refund.
                    </div>

                    <div class="d-none">
                        <textarea name="items-to-refund" id="items-to-refund">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="otp" class="form-label">Enter Refund Id</label>
                        <input type="text" name="otp" class="form-control" id="otp" placeholder="Enter Refund ID"
                            required>
                    </div>

                    <div class="class-form-group">
                        <label for="reason" class="form-label">Enter a Reason for Refund</label>
                        <textarea name="reason" id="reason" rows="3" class="form-control" required></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="resend-otp-button" class="btn btn-secondary btn-custom">Resend
                        OTP</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- refund order -->


<!-- Tabs Start -->
<div class="pageWrapper">
    <div class="container-xxl pb-4 pt-2">
        <div class="tabs-wrapper">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Order Summary</h5>
                <h4 class="mb-5">Order Details</h4>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-3" id="myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" id="order-tab"
                            data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab" aria-controls="order"
                            aria-selected="true">

                            <i class="far fa-bookmark fa-2x text-primary"></i>
                            <div class="ps-3">
                                <h6>Orders</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" id="items-tab" data-bs-toggle="tab"
                            data-bs-target="#items" type="button" role="tab" aria-controls="items"
                            aria-selected="false">

                            <i class="fas fa-list-ul fa-2x text-primary"></i>
                            <div class="ps-3">
                                <h6>Items</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" id="payments-tab" data-bs-toggle="tab"
                            data-bs-target="#payments" type="button" role="tab" aria-controls="payments"
                            aria-selected="false">
                            <i class="fa fa-credit-card fa-2x text-primary"></i>
                            <div class="ps-3">
                                <h6>Payments</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <!-- Order Tab Start -->
                <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
                    <div class="card rounded-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Order ID</p>
                                <h6 id="order-id">#{{order.id}}</h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Food Delivered Status.</p>
                                <h6>
                                    <a href="#" id="delivery-status" class="text-dark">
                                    </a>
                                </h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Order Seen</p>

                                <h6>
                                    <a href="#" id="order-shown" class="text-dark"></a>
                                </h6>

                            </div>

                            <div class="d-flex justify-content-between" id="delivery-detail-box">
                                <p class="text-muted">Delivery Time</p>
                                <h6>
                                    <a href="#" id="delivery-detail-box-value" class="text-dark">
                                    </a>
                                </h6>
                            </div>


                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Seat</p>
                                <h6 id="seat-name"></h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Order Date</p>
                                <h6 id="order-date"></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Order Time</p>
                                <h6 id="order-time"></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Phone Number</p>
                                <h6 id="phone-number"></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Payment Status</p>
                                <h6 id="payment-status"></h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted" id="panding-amount-heading">Pending Amount</p>
                                <h6 class="total-amount">₹ <span id="panding-amount-heading-value"></span></h6>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- Order Tab End -->

                <!-- Items Tab Start -->
                <div class="tab-pane fade" id="items" role="tabpanel" aria-labelledby="items-tab">
                    <div class="card rounded-2">
                        <div class="card-body" id="order-items">

                            <div id="all-tax-area">
                                {% for tax in theatre.tax_set.all %}
                                <div class="d-flex justify-content-between">
                                    <p class="text-muted">{{tax.name}} (<span
                                            class="tax-perscantage">{{tax.percentage}}</span>%)</p>
                                    <h6 class="amounts">₹ <span class="tax-amount"></span></h6>
                                </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Items Tab End -->

                <!-- Payments Tab Start -->
                <div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
                    <div class="card rounded-2">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Payment Status</p>

                                <h6 id="payment-tab-payment-status" class="total-amount">

                                </h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted" id="payment-tab-panding-amount-heading">Paid Amount </p>
                                <h6 class="total-amount">₹ <span id="payment-tab-panding-amount-value"></span>
                                </h6>
                            </div>

                            <div class="d-flex justify-content-between">
                                <p class="text-muted">Payment Method</p>
                                <h6 class="total-amount" id="payment-method-value">
                                </h6>
                            </div>
                            <div class="col-12 float-end text-end my-2 d-none">
                                <button class="btn btn-danger" id="partial-refund-button" style="cursor: pointer;">
                                    Partial Refund
                                </button>
                            </div>

                            <div class="col-12 float-end text-end d-none">
                                <button class="btn btn-danger" id="refund-button" data-bs-toggle="modal"
                                    data-bs-target="#refund-order" style="cursor: pointer;">
                                    Refund Amount
                                </button>

                            </div>
                        </div>
                    </div>
                    <!-- Repeat for other payments -->
                </div>
                <!-- Payments Tab End -->
            </div>
            <div class="row g-3">
                <div class="container-fluid text-center pt-3">
                    <button class="btn btn-primary mx-2 mb-2" id="kot-button" order_id="" onclick="printKot(this)">Print
                        KOT </button>
                    <button class="btn btn-primary mx-2 mb-2 d-none" id="bill-button" order_id=""
                        onclick="printBill(this)">Print Bill </button>
                    <button class="btn btn-success mx-2 mb-2" onclick="deliverOrder()" id="order-deliver-button">Deliver
                        Order</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script src="{% static 'theatre_js/order-profile.js' %}"></script>

<script>
    async function startWork() {
        await openOrderProfile('{{order_id}}', 'order-page')
    }

    startWork()


</script>

<!-- Tabs End -->
{% endblock %}