<!-- footer for home screen -->
<!-- footer for customers remove d-none class to see the UI-->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Scan2Food</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Dashboard</a>
                        <a href="">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- footer for customers -->
<!-- Footer End -->